
.logo {
	font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

h1 {
	font-size: 1.4rem;
}

h2 {
	font-size: 1.1rem;
}

th i {
	margin-right: 0.2rem;
}

.empty_list {
	margin: 4rem;
	text-align: center;
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

body > .content {
	margin: 0 2rem;
}

.modal-reg .modal-dialog {
	min-width: 30%;
}

/* --== Defaults ==-- */
.t-a-c {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

.m-l-1rem {
	margin-left: 1rem;
}

.m-b-1rem {
	margin-bottom: 1rem;
}
/* --== //Defaults ==-- */